/*Fonts*/

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot');
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Regular.woff2') format('woff2'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.eot');
  src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Medium.woff2') format('woff2'), url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.eot');
  src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Bold.woff2') format('woff2'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue.eot');
  src: url('../fonts/BebasNeue.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue.woff2') format('woff2'), url('../fonts/BebasNeue.woff') format('woff'), url('BebasNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('../fonts/BebasNeueRegular.eot');
  src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeueRegular.woff2') format('woff2'), url('../fonts/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*General*/

body {
  font-family: 'Raleway';
  background: #000000;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

h1,
h2 {
  font-size: 42px;
  font-family: 'Bebas Neue';
  
  letter-spacing: 0.04em;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-top: 0;
}

h2:after {
  content: "_";
  position: absolute;
  color: #16bcf2;
  left: 0;
  right: 0;
  /*top: 30px;*/
  bottom: -10px;
}

a {
  -webkit-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none;
}

a:focus,
input:focus,
textarea:focus {
  outline: none;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn-outline {
  border: 1px solid #16bcf2;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  letter-spacing: 0.12em;
  font-size: 18px;
}

.btn-outline:hover {
  background-color: #16bcf2;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* Section Header */

.section-header {
  position: fixed;
  width: 100%;
  z-index: 9;
  padding-top: 20px;
  -webkit-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.section-header.bg-header {
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.7);
}

.logo {
  display: inline-block;
  max-width: 320px;
}

.sosmed-link,
.main-menu {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.sosmed-link li,
.main-menu li {
  display: inline-block;
  vertical-align: middle;
}

.menu-navigation {
  float: right;
  padding-top: 25px;
}

.main-menu.nav>li>a {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  letter-spacing: 0.15em;
  font-size: 18px;
  padding: 0 15px;
}

.main-menu.nav>li.active>a,
.main-menu.nav>li>a:hover {
  color: #16bcf2;
  background-color: transparent;
}

.main-menu.nav>li>a:focus {
  background-color: transparent;
}

.main-menu.nav>.border-outline>a {
  border: 1px solid #16bcf2;
  padding: 10px 20px;
  color: #ffffff;
}

.main-menu.nav>.border-outline>a:hover,
.main-menu.nav>.border-outline.active>a {
  background-color: #16bcf2;
  color: #ffffff;
}

.sosmed-link {
  margin-left: 10px;
}

.sosmed-link a {
  color: #16bcf2;
  font-size: 18px;
}

.sosmed-link a:hover {
  color: #ffffff;
}

.sosmed-link a:before {
  padding-left: 10px;
  content: "";
  font-family: 'FontAwesome';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.instagram-link a:before {
  content: "\f16d";
}

.twitter-link a:before {
  content: "\f099";
}

.email-address a:before {
  content: "\f003";
}

.mobile-number a:before {
  content: "\f095";
}

/* Section Slider */

#section-slider {
  color: #ffffff;
}

#section-slider .slider-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: absolute;
  width: 100%;
  height: 100%;
}

#section-slider .slider-text {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#section-slider .slider-text .container {
  z-index: 1;
  position: relative;
  /* position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); */
}

#section-slider h1,
#section-slider h2 {
  padding-bottom: 0;
  font-family: 'Bebas Neue Regular';
}

#section-slider h2:after {
  display: none;
}

#section-slider p {
  font-size: 20px;
}

#section-slider p a {
  color: #fff;
}

.link-down {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: -100px;
}

.link-down:before {
  content: "\f107";
  font-family: 'FontAwesome';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-down:hover {
  color: #ffffff;
}

/* Section About */

#section-about {
  background-color: #1c1d21;
  color: #ffffff;
  padding: 100px 0;
}

#section-about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#section-about .row>div {
  flex: 0 1 auto;
}

.about-logo img {
  max-width: 270px;
  width: 100%;
}

.about-text p {
  letter-spacing: 0.03em;
  font-size: 16px;
}

.about-text .btn-outline {
  margin-top: 20px;
}
.about-text .btn-outline:hover{
  color: #ffffff;
}
/* Section Parralax */

#section-parallax {
  position: relative;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}

#section-parallax .container {
  height: 700px;
}

.parallax-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.parallax-text strong {
  color: #16bcf2;
  color: #16bcf2;
}

#section-parallax .parallax-image {
  position: absolute;
  width: 100%;
  height: 200%;
  z-index: -1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Section Testimonials */

#section-testimonials {
  background-color: #000000;
  padding: 60px 0;
  text-align: center;
  color: #ffffff;
}

.testimonial-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.testimonial-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-slider .slide {
  padding: 0 60px;
}

.testimonial-slider .slick-arrow {
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.testimonial-slider .slick-arrow i {
  font-size: 65px;
  vertical-align: middle;
}

.testimonial-slider .slick-arrow i {
  color: rgba(255, 255, 255, 0.6);
}

.testimonial-slider .slick-arrow:hover i {
  color: #ffffff;
}

.testimonial-slider .arrow-right {
  right: 0;
}

.testimonial-slider .arrow-left {
  left: 0;
}

.testimonial-slider .arrow-left {
  padding-left: 15px;
}

.testimonial-slider .arrow-right {
  padding-right: 15px;
}

.testimonial-text {
  position: relative;
  padding: 30px 50px 0;
  color: #16bcf2;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.identity {
  color: #ffffff;
}

.identity-name {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.testimonial-text:before {
  background: url(../images/quote-left.svg)no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30px;
}

.testimonial-text:after {
  background: url(../images/quote-right.svg)no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 40px;
  height: 30px;
}

/* Section Contact */

#section-contact {
  background-color: #1c1d21;
  color: #ffffff;
  padding: 60px 0;
  text-align: center;
}

#section-contact .sosmed-link {
  margin-left: 20px;
}

#section-contact .sosmed-link i {
  padding: 0 5px;
}

#section-contact h4 {
  font-size: 20px;
  font-family: 'Bebas Neue';
  letter-spacing: 0.15em;
}

.info-email,
.info-mobile {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.info-email a,
.info-mobile a {
  color: #fff;
}

.info-email span,
.info-mobile span {
  color: #16bcf2;
  padding: 0 5px 0 15px;
}

.form-contact {
  margin-top: 30px;
}

.form-contact form {
  max-width: 370px;
  margin: auto;
}

.form-contact label {
  width: 100%;
}

.form-contact .form-control {
  background-color: transparent;
  border-radius: 0;
  border-color: #16bcf2;
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 0.05em;
  min-height: 43px;
  font-size: 12px;
}

.form-contact .form-control.wpcf7-not-valid {
  border-color: red;
}

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #16bcf2;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #16bcf2;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #16bcf2;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #16bcf2;
}

.form-contact .btn,
.form-contact .btn:active:hover {
  border-radius: 0;
  background-color: #16bcf2;
  border-color: #16bcf2;
  color: #1c1d21;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  letter-spacing: 0.12em;
  font-size: 18px;
  padding: 6px 20px;
  outline: 0;
}

div.wpcf7-response-output {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.wpcf7-not-valid-tip {
  display: none !important;
}

.wpcf7-form p {
  -webkit-transition: opacity 1s, height 0;
  -moz-transition: opacity 1s, height 0;
  -ms-transition: opacity 1s, height 0;
  -o-transition: opacity 1s, height 0;
  transition: opacity 1s, height 0;
  opacity: 1;
}

.wpcf7-form.sent p {
  height: 0;
  opacity: 0;
  position: absolute;
}

/* Section Footer */

.section-footer {
  background-color: #000000;
  color: #16bcf2;
  padding: 15px 0;
}

.section-footer p {
  margin: 0;
}

.section-footer .developer a {
  color: #16bcf2;
}

.section-footer .developer a:hover {
  text-decoration: underline;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-main>div {
  flex: 1;
}

.logo-footer {
  width: 43px;
  text-align: center;
}

.developer {
  text-align: right;
}

@media (min-width: 1441px) {
  .container {
    width: 100%;
    max-width: 1589px;
  }
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
  /* Section Header */
  .section-header {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.8);
  }
  .section-header .container-fluid {
    display: block
  }
  .navbar-toggle {
    display: block;
    padding: 0;
    position: relative;
    border-radius: 0;
  }
  .burger-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .burger {
    height: 56px;
    width: 56px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    margin: 8px 0 0;
  }
  .x,
  .y,
  .z {
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 18px;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  .x,
  .y,
  .z {
    width: 38px;
    height: 4px;
  }
  .y {
    top: 18px;
  }
  .z {
    top: 35px;
  }
  .collapse-icon {
    background: #16bcf2;
    top: 17px;
    width: 30px;
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out;
  }
  .rotate30 {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
  }
  .rotate150 {
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
  }
  .rotate45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
  }
  .rotate135 {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
  }
  .menu-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  }
  .menu-bg.animate {
    opacity: 0.9;
    visibility: visible;
    -webkit-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  }
  .menu-navigation {
    width: 100%;
    max-width: 750px;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    position: absolute;
    z-index: 102;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
  }
  @-webkit-keyframes zoomOut {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
    to {
      opacity: 0;
    }
  }
  @keyframes zoomOut {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
    to {
      opacity: 0;
    }
  }
  .menu-navigation.animate {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    opacity: 1;
    visibility: visible;
  }
  @-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
    50% {
      opacity: 1;
    }
  }
  ul.main-menu {
    display: block;
    top: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  ul.main-menu li {
    display: block;
    padding: 0;
  }
  ul.main-menu a:before {
    display: none;
  }
  .main-menu.nav>li>a {
    display: block;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #ffffff;
  }
  .main-menu.nav>.border-outline>a {
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid #ffffff;
  }
  .main-menu.nav>.border-outline>a:hover,
  .main-menu.nav>.border-outline.active>a {
    color: #16bcf2;
    background-color: transparent
  }
  .section-header .sosmed-link {
    margin-left: 0;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-header .sosmed-link a {
    font-size: 28px;
  }
  .sosmed-link i {
    padding-left: 0;
    padding-right: 20px;
  }
  /* Section Slider */
  #section-slider .slider-text .container {
    top: 56%;
  }
  /* Section Parralax */
  #section-parallax .container {
    height: 500px;
  }
  /* Testimonial Slider */
  .testimonial-slider .slick-arrow {
    top: auto;
    bottom: -50px;
  }
  .testimonial-slider .arrow-left {
    padding-left: 0;
  }
  .testimonial-slider .arrow-right {
    padding-right: 0;
  }
  .testimonial-slider .slide {
    padding: 0;
  }
  .testimonial-text {
    padding: 30px 15px 0;
  }
  .testimonial-slider .slick-arrow i {
    font-size: 50px;
  }
  .testimonial-slider .slick-track {
    display: block;
  }
  .slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
  }
  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus {
    outline: none;
  }
  .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before {
    background-color: #16bcf2;
  }
}

@media (max-width: 767px) {
  /* Section Slider */
  #section-slider .slider-text {
    min-height: calc(100vh - 100px);
  }
  #main {
    padding-top: 100px;
  }
  /* Section About */
  #section-about {
    padding: 60px 0;
  }
  #section-about .row {
    display: block;
  }
  .about-logo img {
    max-width: 150px;
  }
  #section-about .row>div {
    flex: none;
  }
  .about-logo {
    text-align: center;
  }
  /* Section Parralax */
  #section-parallax .container {
    height: 400px;
  }
  /* Section Contact */
  .info-email,
  .info-mobile {
    display: block;
  }
  .info-email span,
  .info-mobile span {
    padding-left: 0;
  }
  #section-contact .sosmed-link {
    margin-left: 0;
    margin-top: 10px;
  }
  /* Section Footer */
  .section-footer {
    background-color: #000000;
    color: #16bcf2;
    padding: 15px 0;
  }
  .section-footer p {
    margin: 0;
  }
  .footer-main {
    display: block;
    text-align: center;
  }
  .footer-main>div {
    flex: none;
  }
  .logo-footer {
    margin: 0 auto 15px;
  }
  .developer {
    text-align: center;
  }
}

@media (max-width: 480px) {
  /* Section Header */
  .logo {
    width: 210px;
  }
  .burger {
    margin: 3px 0 0;
  }
  #main {
    padding-top: 88px;
  }
  #section-slider .slider-text {
    min-height: calc(100vh - 88px);
  }
  .link-down {
    margin-top: -80px;
  }
}

@media (max-width:767px)and (orientation: landscape) {
  #section-slider .slider-text {
    min-height: 400px;
  }
  .link-down {
    margin-top: -80px;
  }
}